:root{
  --primary:rgb(236, 236, 236);
  --secondary:rgb(212, 212, 212);
  --bgPrimary:#363250;
}
*{
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  gap: 15px;
}
.sidebar{
  flex-grow: 1;
  max-width: 300px;
}
.main{
  flex-grow: 2;
  height: 92vh;
}
body{
  background-color: var(--bgPrimary);
  color: var(--primary);
  font-family: sans-serif;
}

.space{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  padding: 0 2rem;
}